<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | BookHaven</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1><a href="/">BookHaven</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li>
                        <a href="/fiction">Fiction</a>
                    </li>
                    <li><a href="/non-fiction">Non-Fiction</a></li>
                    <li>
                        <a href="/children">Children</a>
                    </li>
                    <li>
                        <a href="/academic">Academic</a>
                    </li>

                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" class="btn">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>